<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{auth/master-layout}"
>
  <head>
    <title>Registration</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet" />
  </head>
  <body>
    <main
      class="container-fluid d-flex justify-content-center"
      layout:fragment="form-container"
    >
      <form class="form-container" th:object="${newUser}" th:action="@{/register}" th:method="post">
        <h2 class="display-4 fw-bold mb-3">Hello there</h2>
        <h5 class="mb-4">Please sign up</h5>
        <div class="form-group mb-3">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter username"
            th:field="*{username}"
            th:errorclass="is-invalid"
          />
          <p th:errors="*{username}" th:if="${#fields.hasErrors('username')}" class="invalid-feedback"></p>
        </div>
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email"
            th:field="*{email}"
            th:errorclass="is-invalid"
          />
          <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}" class="invalid-feedback"></p>
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            th:field="*{password}"
            th:errorclass="is-invalid"
          />
          <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}" class="invalid-feedback"></p>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Register</button>
        <div>
          <span>Already have an account?  </apan><a th:href="@{/login}">Log in here</a>
        </div>
      </form>
    </main>
  </body>
</html>
