<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{master-layout}"
>
  <head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" th:href="@{/styles/navbar.css}" />
  </head>
  <body>
    <header
      layout:fragment="header"
      layout:insert="~{components/navbar :: navbarHomepage()}"
    ></header>
    <main layout:fragment="main" th:classappend="position-relative">
      <div
        class="top-0 start-50 translate-middle-x position-absolute"
        layout:insert="~{components/toast :: toast(postRedirectMessage=${postRedirectMessage})}"
      ></div>
      <div class="container-fluid px-5">
        <div
          layout:insert="~{components/products-list-view :: productListView(products=${products})}"
        ></div>
      </div>
    </main>
  </body>
  <div layout:fragment="scripts">
    <script
      layout:replace="~{components/products-list-item :: productListItemScripts()}"
    ></script>
    <script
      th:inline="javascript"
      layout:replace="~{components/toast :: toastScripts()}"
    ></script>
  </div>
</html>
