<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{master-layout}"
>
  <head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/profiles-detail.css}" />
    <link rel="stylesheet" th:href="@{/styles/navbar.css}" />
  </head>
  <body>
    <header
      layout:fragment="header"
      layout:insert="~{components/navbar :: navbarHomepage()}"
    ></header>
    <main
      layout:fragment="main"
      th:classappend="|d-flex justify-content-center align-items-center position-relative|"
    >
      <div
        class="top-0 start-50 translate-middle-x position-absolute"
        layout:insert="~{components/toast :: toast(postRedirectMessage=${postRedirectMessage})}"
      ></div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div
              class="card shadow-sm p-3 mb-5 bg-white rounded"
              th:object="${user}"
            >
              <div
                class="card-body text-center"
                th:if="${ validatedErrors == null && (param.edit == null || !#strings.equals(param.edit, 'true'))}"
              >
                <!-- Profile picture -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="45"
                  height="45"
                  fill="currentColor"
                  class="bi bi-person-circle mb-3"
                  viewBox="0 0 16 16"
                  th:if="${user.profilePicturePath == null}"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                  />
                </svg>
                <img
                th:src=@{/images/profiles/{imageFile}(imageFile=${user.profilePicturePath})}
                alt="Profile Picture" class="profile-picture mb-3"
                th:if="${user.profilePicturePath != null}" >
                <!-- Username -->
                <h4 class="card-title" th:text="*{username}">John Doe</h4>
                <!-- Email -->
                <p class="card-text mb-2" th:text="*{email}">
                  john.doe@example.com
                </p>
                <div th:each="item : *{roles}" class="mb-3">
                  <span
                    class="badge rounded-pill text-bg-secondary"
                    th:text="${#strings.capitalize(#strings.toLowerCase(item.name))}"
                  ></span>
                </div>
                <!-- Edit button -->
                <button
                  onclick="redirectToEditProfileURL()"
                  class="btn btn-primary"
                  th:if="${#strings.equals(#authentication.name, user.username)}"
                >
                  Edit profile
                </button>
              </div>
              <div
                class="card-body"
                th:if="${ validatedErrors != null || #strings.equals(param.edit, 'true')}"
              >
                <form
                  th:method="post"
                  th:action="@{/profiles/{userId}/edit(userId = ${user.id})}"
                  th:object="${editUser}"
                  enctype="multipart/form-data"
                >
                  <!-- Profile picture -->
                  <div
                    class="mb-3 text-center"
                    th:classappend="${user.profilePicturePath == null ? '' : 'd-none'}"
                    id="default-profile-picture"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="55"
                      height="55"
                      fill="currentColor"
                      class="bi bi-person-circle mb-3"
                      viewBox="0 0 16 16"
                    >
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                      <path
                        fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                      />
                    </svg>
                  </div>
                  <div
                    class="mb-3 text-center"
                    th:classappend="${user.profilePicturePath != null ? '' : 'd-none'}"
                    id="profile-picture"
                  >
                    <img
                    th:src=@{/images/profiles/{imageFile}(imageFile=${user.profilePicturePath})}
                    alt="Profile Picture" class="profile-picture"
                    th:if="${user.profilePicturePath != null}">
                    <img
                      th:if="${user.profilePicturePath == null}"
                      class="profile-picture"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="profilePicture" class="form-label"
                      >Upload New Profile Picture</label
                    >
                    <input
                      type="file"
                      class="form-control"
                      th:field="*{uploadedProfilePicture}"
                      placeholder="Upload new profile picture"
                      accept="image/*"
                      th:errorclass="is-invalid"
                    />
                    <p
                      th:if="${#fields.hasErrors('uploadedProfilePicture')}"
                      th:errors="*{uploadedProfilePicture}"
                      class="invalid-feedback"
                    ></p>
                  </div>
                  <!-- Username -->
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input
                      type="text"
                      th:field="*{username}"
                      class="form-control"
                      th:errorclass="is-invalid"
                    />
                    <p
                      th:errors="*{username}"
                      th:if="${#fields.hasErrors('username')}"
                      class="invalid-feedback"
                    ></p>
                  </div>
                  <!-- Email -->
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      th:field="*{email}"
                      th:errorclass="is-invalid"
                      class="form-control"
                    />
                    <p
                      th:errors="*{email}"
                      th:if="${#fields.hasErrors('email')}"
                      class="invalid-feedback"
                    ></p>
                  </div>
                  <!-- Password -->
                  <div class="mb-3">
                    <label for="password" class="form-label"
                      >New Password</label
                    >
                    <input
                      type="password"
                      th:field="*{password}"
                      th:errorclass="is-invalid"
                      class="form-control"
                    />
                    <p
                      th:errors="*{password}"
                      th:if="${#fields.hasErrors('password')}"
                      class="invalid-feedback"
                    ></p>
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
                  <a
                    type="button"
                    class="btn btn-danger"
                    th:href="@{/profiles/{username}(username=${user.username})}"
                    >Discard</a
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <div layout:fragment="scripts">
    <script th:inline="javascript">
      function redirectToEditProfileURL() {
        let params = new URLSearchParams();
        params.append("edit", "true");
        location.href = `${location.pathname}?${params.toString()}`;
      }
      const toast = document.querySelector(".toast");
      if (toast != null) {
        const bsToast = bootstrap.Toast.getOrCreateInstance(toast);
        bsToast.show();
      }
    </script>
    <script
      th:if="${param.edit != null && #strings.equals(param.edit, 'true')}"
      th:src="@{/js/profiles-detail.js}"
    ></script>
  </div>
</html>
