<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{master-layout}"
>
  <head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" th:href="@{/styles/products-list.css}" />
    <link rel="stylesheet" th:href="@{/styles/navbar.css}" />
  </head>
  <body>
    <header
      layout:fragment="header"
      layout:insert="~{components/navbar :: navbarHomepage()}"></header>
    </header>
    <main layout:fragment="main">
        <div class="container-fluid px-5">
          <div
            class="row"
            layout:insert="~{components/products-gallery :: productGallery(products=${products})}"
          ></div>
      </div>
    </main>
  </body>
</html>
