<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{master-layout}"
>
  <head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">
      Marketplace
    </title>
    <link rel="stylesheet" th:href =@{/styles/navbar.css}/>
  </head>
  <body>
    <header
      layout:fragment="header"
      layout:insert="~{components/navbar :: navbarProducts()}"
    ></header>
    <main layout:fragment="main" class="py-3 min-vh-95">
      <p>Page content goes here</p>
    </main>
    <footer layout:fragment="footer" class="text-end p-2">
      <span class="m-auto">Made with ❤️‍🔥 by Cheng-K</span>
    </footer>
  </body>
  <div layout:fragment="scripts"></div>
</html>
