<div
  layout:fragment="categoryList(clearLink,availableCategories, selectedCategory)"
>
  <div class="d-flex mb-2 justify-content-between">
    <h4>Categories</h4>
    <a
      class="btn btn-secondary"
      th:href="${clearLink}"
      th:if="${selectedCategory != null}"
      >Clear selection</a
    >
  </div>
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action category-list-item"
      th:each="category : ${availableCategories}"
      th:text="${category.title}"
      th:data-category-id="${category.id}"
      th:classappend="${category.id == selectedCategory} ? 'active' : '' "
    ></li>
  </ul>
</div>
