<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{auth-master-layout.html}"
>
  <head>
    <title>Forgot Password</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet" />
  </head>
  <body>
    <main
      class="container-fluid d-flex justify-content-center"
      layout:fragment="form-container"
    >
      <form
        class="form-container"
        th:object="${passwordChange}"
        th:action="${passwordChangePostURL}"
        th:method="post"
      >
        <h2 class="mb-3">Change Password Form</h2>
        <div class="form-group mb-3">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter new password"
            th:field="*{newPassword}"
            th:errorclass="is-invalid"
          />
          <p
            th:errors="*{newPassword}"
            th:if="${#fields.hasErrors('newPassword')}"
            class="invalid-feedback"
          ></p>
        </div>
        <div class="form-group mb-3">
          <label for="repeatNewPassword">Retype new password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Retype new password"
            th:field="*{repeatNewPassword}"
            th:errorclass="is-invalid"
          />
          <p
            th:errors="*{repeatNewPassword}"
            th:if="${#fields.hasErrors('repeatNewPassword')}"
            class="invalid-feedback"
          ></p>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </form>
    </main>
  </body>
</html>
