<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{products-master-layout.html}"
>
  <head>
    <title>Add Product</title>
    <link rel="stylesheet" th:href="@{/styles/products-add.css}" />
  </head>
  <body>
    <main layout:fragment="main">
      <div class="container mt-5">
        <h1>Add New Product</h1>
        <form
          method="post"
          th:action="@{/products/add}"
          enctype="multipart/form-data"
          th:object="${newProduct}"
        >
          <div class="mb-3">
            <label for="image" class="form-label d-block">Product Image*</label>
            <img
              id="previewImage"
              src=""
              th:src="@{/img/{imageFile}(imageFile=*{image})}"
              alt="No image selected"
              class="mb-3 product-preview-img"
            />
            <input
              type="file"
              class="form-control"
              th:field="*{imageFile}"
              placeholder="Upload image"
              accept="image/*"
              th:errorclass="is-invalid"
            />
            <p
              th:if="${#fields.hasErrors('imageFile')}"
              th:errors="*{imageFile}"
              class="invalid-feedback"
            ></p>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Product Title*</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter product title"
              th:field="*{title}"
              th:errorclass="is-invalid"
            />
            <p
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
              class="invalid-feedback"
            ></p>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description*</label>
            <textarea
              class="form-control"
              th:field="*{description}"
              rows="10"
              th:errorclass="is-invalid"
            ></textarea>
            <p
              th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"
              class="invalid-feedback"
            ></p>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price*</label>
            <input
              type="number"
              class="form-control"
              th:field="*{price}"
              min="0.00"
              max="9999.99"
              step="0.10"
              th:errorclass="is-invalid"
            />
            <p
              th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}"
              class="invalid-feedback"
            ></p>
          </div>
          <div class="mb-3">
            <p class="mb-1">Condition*</p>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                th:field="*{condition}"
                th:value="USED"
                th:errorclass="is-invalid"
              />
              <label class="form-check-label" th:for="${#ids.prev('condition')}"
                >Used</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                th:field="*{condition}"
                th:value="LIKE_NEW"
                th:errorclass="is-invalid"
              />
              <label class="form-check-label" th:for="${#ids.prev('condition')}"
                >Like new</label
              >
              <p
                th:if="${#fields.hasErrors('condition')}"
                th:errors="*{condition}"
                class="invalid-feedback"
              ></p>
            </div>
          </div>
          <div class="mb-3">
            <p class="mb-1">Category*</p>
            <select
              class="form-select"
              aria-label="Default select example"
              th:field="*{category}"
              th:errorclass="is-invalid"
            >
              <option
                th:each="category : ${availableCategories}"
                th:value="${category}"
                th:text="${category.title}"
              ></option>
            </select>
            <p
              th:if="${#fields.hasErrors('category')}"
              th:errors="*{category}"
              class="invalid-feedback"
            ></p>
          </div>
          <button type="submit" class="btn btn-primary">Add Product</button>
          <a class="btn btn-danger" th:href="@{/products}">Discard</a>
        </form>
      </div>
    </main>
  </body>
  <div layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/products-add.js}"></script>
  </div>
</html>
