<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{master-layout.html}"
>
  <head>
    <title>Add Product</title>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="container mt-5">
        <h1>Add New Product</h1>
        <form
          method="post"
          th:action="@{/products/add}"
          enctype="multipart/form-data"
          th:object="${newProduct}"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Product Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter product title"
              th:field="*{title}"
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              class="form-control"
              th:field="*{description}"
              rows="3"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              th:field="*{price}"
              min="0.00"
              step="0.10"
            />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label d-block">Product Image</label>
            <img
              id="previewImage"
              src=""
              th:src="*{image}"
              alt="No image selected"
              class="mb-3"
            />
            <input
              type="file"
              class="form-control"
              th:field="*{imageFile}"
              placeholder="Upload image"
              accept="image/*"
            />
          </div>
          <div class="mb-3">
            <p class="mb-1">Condition</p>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                th:field="*{condition}"
                th:value="USED"
                checked
              />
              <label class="form-check-label" th:for="${#ids.prev('condition')}"
                >Used</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                th:field="*{condition}"
                th:value="LIKE_NEW"
              />
              <label class="form-check-label" th:for="${#ids.prev('condition')}"
                >Like new</label
              >
            </div>
          </div>
          <div class="mb-3">
            <p class="mb-1">Category</p>
            <select
              class="form-select"
              aria-label="Default select example"
              th:field="*{category}"
            >
              <option
                th:each="category : ${availableCategories}"
                th:value="${category}"
                th:text="${category.title}"
              ></option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
      </div>
    </main>
  </body>
  <div layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/products-add.js}"></script>
  </div>
</html>
