<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{master-layout.html}"
>
  <head>
    <title>Product Detail</title>
    <link rel="stylesheet" th:href="@{/styles/products-detail.css}" />
  </head>
  <body>
    <main layout:fragment="content">
      <body>
        <div class="container mt-5" th:object="${product}">
          <div class="row">
            <div class="col-md-6 pe-5">
              <img th:src=@{/img/{imageFile}(imageFile=*{image})}
              class="img-fluid" alt="Product Image" />
            </div>
            <div class="col-md-6">
              <h2 class="my-3" th:text="*{title}">Product Title</h2>
              <h3 class="my-3" th:text="|RM*{price}|">$ Product Price</h3>
              <h5>Description</h5>
              <pre th:text="*{description}" class="fs-5">
Product Description</pre
              >
              <h5>Category</h5>
              <p class="text-muted fs-5" th:text="*{category.title}">
                Category
              </p>
              <h5>Condition</h5>
              <div th:switch="*{condition.name()}">
                <p th:case="'LIKE_NEW'">Like new</p>
                <p th:case="'USED'">Used</p>
              </div>
              <h5>Listed On</h5>
              <p
                class="text-muted fs-5"
                th:text="${#temporals.format(product.listedOn, 'yyyy-MM-dd HH:mm:ss')}"
              >
                Uploaded on: Date and Time
              </p>
              <h4 class="my-3">Seller Information</h4>
              <p>Seller Name</p>
              <p>Contact: Seller Contact</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a
                th:href="@{/products/{id}/edit(id = ${product.id})}"
                class="btn btn-secondary"
                >Edit product</a
              >
            </div>
            <div class="col">
              <form
                th:action="@{/products/{id}(id = ${product.id})}"
                th:method="delete"
              >
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </body>
    </main>
  </body>
</html>
