<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{products-master-layout.html}"
>
  <head>
    <title>Edit Product</title>
    <link rel="stylesheet" th:href="@{/styles/products-add.css}" />
  </head>
  <body>
    <main layout:fragment="main">
      <div class="container mt-5">
        <h1>Edit Product</h1>
        <form
          th:method="put"
          th:action="@{/products/{id}(id = ${product.id})}"
          enctype="multipart/form-data"
          th:object="${product}"
        >
          <div class="mb-3">
            <label for="image" class="form-label d-block">Product Image*</label>
            <img th:src=@{/images/products/{imageFile}(imageFile=*{image})}
            alt="Product Image" class="mb-3 product-preview-img"
            id="previewImage"/>
            <input
              type="file"
              class="form-control"
              th:field="*{imageFile}"
              placeholder="Upload image"
              accept="image/*"
              th:errorclass="is-invalid"
            />
            <p
              th:if="${#fields.hasErrors('imageFile')}"
              th:errors="*{imageFile}"
              class="invalid-feedback"
            ></p>
            <input
              type="hidden"
              class="form-control"
              th:field="*{image}"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Product Title*</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter product title"
              th:field="*{title}"
              th:errorclass="is-invalid"
            />
            <p
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
              class="invalid-feedback"
            ></p>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description*</label>
            <textarea
              class="form-control"
              th:field="*{description}"
              rows="10"
              th:errorclass="is-invalid"
            ></textarea>
            <p
              th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"
              class="invalid-feedback"
            ></p>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price*</label>
            <input
              type="number"
              class="form-control"
              th:field="*{price}"
              min="0.00"
              max="9999.99"
              step="0.10"
              th:errorclass="is-invalid"
            />
            <p
              th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}"
              class="invalid-feedback"
            ></p>
          </div>
          <div class="mb-3">
            <p class="mb-1">Condition*</p>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                th:field="*{condition}"
                th:value="USED"
                th:errorclass="is-invalid"
              />
              <label class="form-check-label" th:for="${#ids.prev('condition')}"
                >Used</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                th:field="*{condition}"
                th:value="LIKE_NEW"
                th:errorclass="is-invalid"
              />
              <label class="form-check-label" th:for="${#ids.prev('condition')}"
                >Like new</label
              >
              <p
                th:if="${#fields.hasErrors('condition')}"
                th:errors="*{condition}"
                class="invalid-feedback"
              ></p>
            </div>
          </div>
          <div class="mb-3">
            <p class="mb-1">Category*</p>
            <select
              class="form-select"
              aria-label="Default select example"
              th:field="*{category}"
              th:errorclass="is-invalid"
            >
              <option
                th:each="category : ${availableCategories}"
                th:value="${category}"
                th:text="${category.title}"
              ></option>
            </select>
            <p
              th:if="${#fields.hasErrors('category')}"
              th:errors="*{category}"
              class="invalid-feedback"
            ></p>
          </div>
          <div class="mb-3">
            <label for="listedOn" class="form-label">Listed On</label>
            <input
              type="datetime-local"
              class="form-control"
              th:field="*{listedOn}"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="seller" class="form-label">Seller</label>
            <div
              class="d-flex align-items-center text-decoration-none text-reset mb-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                fill="currentColor"
                class="bi bi-person-circle me-2"
                viewBox="0 0 16 16"
                th:if="${product.seller.profilePicturePath == null}"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                />
              </svg>
              <img
                th:src="@{/images/profiles/{imageFile} (imageFile = ${product.seller.profilePicturePath})}"
                class="seller-img"
                th:if="${product.seller.profilePicturePath != null}"
              />
              <span class="fs-5" th:text="*{seller.username}"></span>
            </div>
            <input
              type="hidden"
              class="form-control"
              th:field="*{seller}"
              readonly
            />
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <a class="btn btn-danger" th:href="@{/products}">Discard</a>
        </form>
      </div>
    </main>
  </body>
  <div layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/products-add.js}"></script>
  </div>
</html>
