<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{products-master-layout.html}"
>
  <head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/styles/products-list.css}" />
  </head>
  <body>
    <main layout:fragment="main" th:classappend="position-relative">
      <div
        class="toast align-items-center text-bg-success border-0 top-0 start-50 translate-middle-x position-absolute"
        role="alert"
        id="toast"
        aria-live="assertive"
        aria-atomic="true"
        th:if="${postRedirectMessage != null}"
      >
        <div class="d-flex">
          <div class="toast-body" th:text="${postRedirectMessage}"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div class="container-fluid d-flex">
        <div class="container-fluid px-5 pt-3">
          <div class="row mb-4">
            <div class="col">
              <span class="me-2">Sort by: </span>
              <button
                class="btn me-2"
                th:classappend="${#strings.equals(param.sortBy, 'latest') ? 'btn-primary' : 'btn-secondary'}"
                onclick="sortProductsByLatest()"
              >
                Latest
              </button>
              <button
                class="btn me-2"
                th:classappend="${#strings.equals(param.sortBy, 'price') && #strings.equals(param.order, 'asc') ? 'btn-primary' : 'btn-secondary'}"
                onclick="sortProductsByPrice('asc')"
              >
                Price (Low to High)
              </button>
              <button
                class="btn"
                th:classappend="${#strings.equals(param.sortBy, 'price') && #strings.equals(param.order, 'desc') ? 'btn-primary' : 'btn-secondary'}"
                onclick="sortProductsByPrice('desc')"
              >
                Price (High to Low)
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-3 mb-4" th:each="product : ${products}">
              <div class="card product-card" th:data-product-id="${product.id}">
                <div class="d-flex align-items-center mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="28"
                    height="28"
                    fill="currentColor"
                    class="bi bi-person-circle me-2"
                    viewBox="0 0 16 16"
                    th:if="${product.seller.profilePicturePath == null}"
                  >
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path
                      fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                    />
                  </svg>
                  <img
                    th:src="@{/images/profiles/{imageFile} (imageFile = ${product.seller.profilePicturePath})}"
                    class="product-profile-pic"
                    th:if="${product.seller.profilePicturePath != null}"
                  />
                  <span th:text="${product.seller.username}"></span>
                </div>
                <img
                  th:src="@{/images/products/{imageFile}(imageFile=${product.image})}"
                  class="card-img-top product-img"
                  th:alt="${product.title}"
                />
                <div class="card-body">
                  <h5 class="card-title" th:text="${product.title}">
                    Product 1
                  </h5>
                  <p
                    class="card-text mb-2 fw-bold"
                    th:text="|RM${product.price}|"
                  ></p>
                  <div th:switch="${product.condition.name()}">
                    <p th:case="'LIKE_NEW'" class="m-0">Like new</p>
                    <p th:case="'USED'" class="m-0">Used</p>
                  </div>
                  <p
                    class="card-text text-muted"
                    th:data-listed-on="${product.listedOn}"
                  ></p>
                </div>
              </div>
            </div>
            <div th:if="${!products.hasContent()}">
              <p>No products found</p>
            </div>
          </div>
          <div class="row" th:if="${products.hasContent()}">
            <ul class="pagination justify-content-end">
              <li
                class="page-item"
                th:classappend="${products.hasPrevious() ? '' : 'disabled'}"
              >
                <button
                  class="page-link"
                  aria-label="Previous"
                  onclick="redirectToPrevPage()"
                >
                  <span aria-hidden="true"><</span>
                </button>
              </li>
              <li class="page-item">
                <div class="page-link" th:text="${products.getNumber() + 1}">
                  1
                </div>
              </li>
              <li
                class="page-item"
                th:classappend="${products.hasNext() ? '' : 'disabled'}"
              >
                <button
                  class="page-link"
                  aria-label="Next"
                  onclick="redirectToNextPage()"
                >
                  <span aria-hidden="true">></span>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="category-list pt-3">
          <div class="d-flex mb-2 justify-content-between">
            <h4>Categories</h4>
            <a
              class="btn btn-secondary"
              href="/products"
              th:if="${selectedCategory != null}"
              >Clear selection</a
            >
          </div>
          <ul class="list-group">
            <li
              class="list-group-item list-group-item-action category-list-item"
              th:each="category : ${availableCategories}"
              th:text="${category.title}"
              th:data-category-id="${category.id}"
              th:classappend="${category.id == selectedCategory} ? 'active' : '' "
            ></li>
          </ul>
        </div>
      </div>
    </main>
  </body>
  <div layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/products-list.js}"></script>
    <script th:inline="javascript">
      function redirectToNextPage() {
        let currentPage = [[${products.getNumber()}]] + 1;
        let currentURL = new URL(window.location.href);
        currentURL.searchParams.set("page", currentPage + 1);
        window.location.assign(currentURL);
      }
      function redirectToPrevPage() {
        let currentPage = [[${products.getNumber()}]] + 1;
        let currentURL = new URL(window.location.href);
        currentURL.searchParams.set("page", currentPage - 1);
        window.location.assign(currentURL);
      }
      const toast = document.querySelector(".toast");
      if (toast != null) {
        const bsToast = bootstrap.Toast.getOrCreateInstance(toast);
        bsToast.show();
      }
    </script>
  </div>
</html>
