<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{auth-master-layout.html}"
>
  <head>
    <title>Registration</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet" />
  </head>
  <body>
    <main
      class="container-fluid d-flex justify-content-center"
      layout:fragment="form-container"
    >
      <form class="form-container">
        <h2 class="mb-3">Registration Form</h2>
        <div class="form-group mb-3">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter username"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary mb-3">Register</button>
        <div>
          <span>Already have an account?  </apan><a th:href="@{/login}">Log in here</a>
        </div>
      </form>
    </main>
  </body>
</html>
