.product-img {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.product-card {
  max-height: 33rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 0px;
  cursor: pointer;
  padding: 10px 5px;
}

.product-card:hover {
  transform: scale(1.05);
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.product-card-description {
  text-overflow: ellipsis;
  overflow: hidden;
}

.category-list-item {
  cursor: pointer;
}
